<section class="wrapper">

	<!-- Titulo da pagina -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa"></i> Cadastro de Memorandos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="salva()">

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2">
                    Lotação de Saída:
                  </label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Lotação de Saída" id="provider-json-1" required ng-model="memorando.lotacaosaida">
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2">
                    Lotação de Destino:
                  </label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Lotação de Destino" id="provider-json-2" required ng-model="memorando.lotacaodestino">
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="col-md-4">
                    Nº Memorando:
                  </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Nº Memorando" required ng-model="memorando.numeromemorando">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label class="col-md-2">
                    Assunto:
                  </label>
                  <div class="col-md-10">
                    <select
                        class="form-control"
                        id="valoroperacao"
                        ng-model="memorando.assunto"
                        ng-options="memorandotabela.operacao as memorandotabela.operacao for memorandotabela in operacoes">
        								        <option value="">--Escolha uma Operação--</option>
        						</select>
                  </div>
                </div>
              </div>
            </div>

            <br><br>

            <div class="row">
              <div>
                <p style="text-align: center;"><strong>Equipamentos Cartic</strong></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <table id="tabela" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Tombo</th>
                      <th>Descrição</th>
                      <th>Local</th>
                      <th>Situação</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="tabela in memorando.tabela track by $index" ng-hide="tabela.length">
                      <td><input type="text" placeholder="Tombo" class="form-control" required ng-model="tabela.tombo"></td>
                      <td><input type="text" placeholder="Descrição" class="form-control" required ng-model="tabela.descricao"></td>
                      <td>
                        <select
                          class="form-control"
          								required
          								ng-model="tabela.local"
          								ng-options="tabela.teste as tabela.teste for tabela in selecionalotacao">
          									<option value="">--Escolha um Local--</option>
          							</select>
                      </td>
                      <td>
                        <select
                          class="form-control"
          								required
          								ng-model="tabela.situacao"
          								ng-options="tabela.situacao as tabela.situacao for tabela in situacoes">
          									<option value="">--Escolha uma Situação--</option>
          							</select>
                      </td>
                      <td><button class="btn-link remove-item" ng-click="removeItem($index)"><i class="icon_close_alt2"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-default" type="button" id="btn-adiciona" ng-click="adicionaItem(tabela); selecionaSituacao;">Adicionar</button>
              </div>
            </div>

            <br><br>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2">
                    Observação:
                  </label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Descreva o assunto do memorando" required ng-model="memorando.observacao">
                  </div>
                </div>
              </div>
            </div>

            <br><br>

            <div class="row">
              <div class="col-lg-offset-5 col-md-6">
                <button class="btn btn-primary" type="submit">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>


</section>
