<section class="wrapper">

  <!-- Titulo da pagina -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa"></i> Memorandos</h3>
    </div>
  </div>

  <!-- conteudo da pagina -->
  <div tagged-infinite-scroll="getMore()" tagged-infinite-scroll-distance="0">
  <div ng-repeat="memorando in memorandos | filter: global.search" class="row">
    <div class="col-md-12">
      <div class="info-box blue-bg">

        <div class="row">
          <div class="col-md-11">
            <label for="">Data: </label>
            {{memorando.data | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-1">
            <a href="#/memorando/{{memorando._id}}"><span class="icon_pencil" style="margin-right: 8px;color: #fff;"></span></a>
            <a href="" ng-click="remove(memorando)"><span class="icon_close_alt" style="color: #fff;"></span></a>
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-md-6">
            <label for="">Lotação de Saída: </label>
            {{memorando.lotacaosaida}}
          </div>
          <div class="col-md-6">
            <label for="">Lotação Destino: </label>
            {{memorando.lotacaodestino}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="">Nº Memorando: </label>
              <a class="visualiza-memorando-link" ng-href="#/memorando/imprime/{{memorando._id}}" style="color: #fff;">{{memorando.numeromemorando}}</a>
          </div>
          <div class="col-md-6">
            <label for="">Assunto: </label>
            {{memorando.assunto}}
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-md-12" style="text-align: center">
            Memorando Cartic
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="cor-head-tabela">Tombo</th>
                  <th class="cor-head-tabela">Descrição</th>
                  <th class="cor-head-tabela">Local</th>
                  <th class="cor-head-tabela">Situação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tabela in memorando.tabela">
                  <td>{{tabela.tombo}}</td>
                  <td>{{tabela.descricao}}</td>
                  <td>{{tabela.local}}</td>
                  <td ng-if="tabela.situacao[0].situacao[0].memorando">{{tabela.situacao[0].situacao[0].memorando}}</td>
                  <td ng-if="tabela.situacao.length < 35">{{tabela.situacao}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <label for="">Observação</label>
            {{memorando.observacao}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</section><!-- fim da class wrapper -->
