<!DOCTYPE html>
<html ng-app="memorandos" lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="TiagoEmerick">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Sol Cartic</title>

    <!-- Bootstrap CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="vendor/bootstrap/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="vendor/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="vendor/bootstrap/css/style.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/style-responsive.css" rel="stylesheet" />
    <link href="vendor/bootstrap/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/estilo-visualliza-memorando.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/imprime-memorando.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/easy-autocomplete/easy-autocomplete.min.css">
	  <link rel="stylesheet" href="vendor/easy-autocomplete/easy-autocomplete.themes.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/print.css" media="print">
    <!-- TRIX EDITOR -->
    <link rel="stylesheet" href="vendor/trix/trix.css">
    <script type="text/javascript" src="vendor/trix/trix.js"></script>

    
    <style>
      a.visualiza-memorando-link:hover {
        color: yellow;
      }
    </style>
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">


      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Esconder ou mostrar menu" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="#" class="logo">Sol <span class="lite">Cartic</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form" method="get" action="/search">
                            <input class="form-control" placeholder="Search" type="search" name="q" ng-model="global.search" ng-change="apiSearch()">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <span class="username"><%= usuario %></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#/edita/usuario/<%=id%>"><i class="icon_profile"></i> Perfil</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                            <li>
                                <a href="documentation.html"><i class="icon_key_help"></i> Ajuda</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="active">
                      <a class="#" href="#">
                          <i class="icon_house_alt"></i>
                          <span>Home</span>
                      </a>
                  </li>
				  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Cadastro</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="#/memorando">Memorandos</a></li>
                          <li><a class="" href="#/cadastra/equipamento">Equipamentos</a></li>
                          <li><a class="" href="#/cadastra/baixa/equipamento">Baixa - Equipamentos</a></li>
			                    <li><a class="" href="#/cadastra/usuario">Usuário</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_piechart"></i>
                          <span>Relátórios</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="#/inicio">Memorandos</a></li>
                          <li><a class="" href="#/relatorios/equipamento">Equipamentos</a></li>
                          <li><a class="" href="#/relatorios/baixa/equipamento">Baixa - Equipamentos</a></li>
                          <li><a class="" href="#/relatorios/usuario">Usuário</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="#/administracao/configuracao">
                          <i class="icon_genius"></i>
                          <span>Configurações</span>
                      </a>
                  </li>
                  <li>
                      <a class="" href="#">
                          <i class="icon_documents_alt"></i>
                          <span>Documentação</span>

                      </a>

                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <div ng-view></div>
      </section><!-- fim do id main-content -->


    <script src="vendor/angular/angular.js"></script>
  	<script src="vendor/angular-route/angular-route.js"></script>
  	<script src="vendor/angular-resource/angular-resource.js"></script>
  	<script src="js/main.js"></script>
  	<script src="js/controllers/MemorandoControllerInfinite.js"></script>
  	<script src="js/controllers/MemorandoController.js"></script>
    <script src="js/controllers/EquipamentoControllerInfinite.js"></script>
    <script src="js/controllers/EquipamentoController.js"></script>
    <script src="js/services/MemorandoServices.js"></script>
    <script src="js/services/EquipamentoServices.js"></script>
    <script src="js/controllers/ConfiguracaoController.js"></script>
  	<script src="js/services/ConfiguracaoService.js"></script>
    <script src="js/controllers/UsuarioController.js"></script>
  	<script src="js/services/UsuarioService.js"></script>
    <script src="js/services/BaixaService.js"></script>
    <script src="js/controllers/BaixaController.js"></script>

    <script src="js/controllers/FiltroController.js"></script>
    <script src="vendor/infinite-scroll-master/taggedInfiniteScroll.min.js"></script>
    <!--script src="vendor/bootstrap/js/jquery.autocomplete.js"></script-->



    <!-- javascripts -->
    <script src="vendor/bootstrap/js/jquery.js"></script>
	  <script src="vendor/bootstrap/js/jquery-ui-1.10.4.min.js"></script>
    <script src="vendor/bootstrap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="vendor/bootstrap/js/jquery.scrollTo.min.js"></script>
    <script src="vendor/bootstrap/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="vendor/bootstrap/js/scripts.js"></script>

    <script src="vendor/easy-autocomplete/jquery.easy-autocomplete.min.js"></script>

  </body>
</html>
